#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config DAWN_PROTO
	bool "Dawn proto support"
	default n
	---help---
		Enable support for Dawn Protocols.

if DAWN_PROTO

config DAWN_PROTO_DUMMY
	bool "Dawn proto dummy support"
	default n
	---help---
		Enable a no-op Dummy Protocol used for testing factory creation and
		as a descriptor binding placeholder.

source "$APPSDIR/external/src/proto/nxscope/Kconfig"
source "$APPSDIR/external/src/proto/nimble/Kconfig"
source "$APPSDIR/external/src/proto/can/Kconfig"
source "$APPSDIR/external/src/proto/modbus/Kconfig"
source "$APPSDIR/external/src/proto/shell/Kconfig"
source "$APPSDIR/external/src/proto/serial/Kconfig"
source "$APPSDIR/external/src/proto/udp/Kconfig"
source "$APPSDIR/external/src/proto/ipc/Kconfig"

endif # DAWN_PROTO
